
<div class="bg-1  d-flex align-items-end" *ngIf="!visibleLogin">
    <div class="overlay"></div>
    <div class="container position-relative px-5">
        <div class="mb-5 text-center">
        <h1 class="m-0 text-white mb-2">Your Slogan Here
            With Smart way</h1>
            <p class="m-0 text-secondary mb-5">Top Washing Machine Repair & Services in Kochi, Ernakulam</p>
            <button mat-raised-button class="btn-primary mb-5 w-100" (click)="showLogin()" >Login</button>
        </div>
    </div>
</div>

<div class="bg-1  d-flex align-items-center" *ngIf="visibleLogin">
    <div class="overlay"></div>
    <div class="container position-relative px-5">
        <div class="mb-5 text-center">
        <h1 class="m-0 text-white mb-2">Login</h1>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username">
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-100">                
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            <button mat-raised-button class="btn-primary mb-5 w-100" routerLink="/home">Login</button>
        </div>
    </div>
</div>
