
<div class="container">
<div class="row my-3 mx-0 pt-3">
    <mat-form-field appearance="outline">
        <mat-label>Search Tasks</mat-label>
        <input matInput placeholder="Search Tasks" [(ngModel)]="searchText">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
<div class="col">
    <ng-container *ngFor="let item of items | filter: searchText;">
        <mat-card class="mb-3"  *ngIf="item.task == 'assigned'" (click)="navigateToDetailPage(item.id)">
            <mat-card-content class="d-flex align-items-center">                       
                <div class="d-flex">
                    <div class="bg-1" style="background: url({{item.phtoto}})"></div>
                    <div class="ms-3">
                        <h3 class="mb-0 text-white">{{item.name}} </h3>
                        <p class="text-secondary m-0">{{item.id}}</p>
                    </div>
                </div>
                <button mat-raised-button color="primary" class="bg-assigned ms-auto">
                    {{item.task}} 
                </button>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>
</div>
</div>
  