<div class="row m-0 pt-4">
    <div class="text-white col">
        <mat-card class="p-3">           
            <div class="bg-1 mb-2 position-relative" style="background: url({{selectedItem.phtoto}});"> 
            <div class="badge rounded-pill" [ngClass]="{
            'bg-assigned'  : selectedItem.task == 'assigned',
            'bg-inprocess' : selectedItem.task == 'onprocess',
            'bg-completed' : selectedItem.task == 'Completed' }">{{selectedItem.task}}</div>
            </div>
            <h2 class="mb-1">{{ selectedItem.name }}</h2>
            <p>Item ID: {{ selectedItem.id }}</p>
            <p>Name: {{ selectedItem.name }}</p>
        </mat-card>

        <div class="d-flex justify-content-between pt-3">            
            <div class="col pe-1"><button mat-stroked-button color="primary" class="btn-strok-primary rounded-pill w-100">Reject</button></div>
            <div  class="col ps-1"><button mat-raised-button color="primary" class="btn-primary rounded-pill w-100">Accept</button></div>
        </div>
    </div>
</div>